header{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: #e9f3f3;
    box-shadow: 1px 1px 15px 1px rgb(218, 217, 217);
}
.header__layout {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    margin-right: 100px;
}
.header__layout .user__outline .search__icon{
    font-size: 24px;
}
.input__search__song{
    width: 100%;
	padding: 5px 20px;
	outline: none;
	border: none;
	border-bottom: 1px solid #333;
}
.song__list__search {
    display: flex;
	margin-top: 20px;
    padding: 5px;
}
.song__list__search:hover{
    background-color: #f3f3f3;
}
.song__list__search img{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
.song__list__search .info__song__search{
    display: grid;
}
.header__layout .user__outline{
    margin-left: 100px;
}
.header__layout .user__outline .bell__icon{
    margin-right: 25px;
    margin-left: 25px;
}
.header__layout .user__outline .bell__icon, .user__icon{
    font-size: 24px; 
}
.sidebar{
    position: fixed;
    z-index: 2;
    width: 100px;
    background-color: #e4ebeb;
    height: 100%;
}
.sidebar .menu {
    list-style: none;
    margin-top: 100px;
}
.sidebar .menu .menu__item {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 23px;
}
.sidebar .menu .menu__item:hover {
    width: 100%;
    background-color: #fff9;
}
.sidebar .menu .menu__item .active{
    background-color: #fff;
    border-left: 5px solid #239292;
    padding: 10px 37px 10px 37px;
}
.audio__play {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 5;
}