.form__postsong{
    width: 90%;
    float: right;
    margin-top: 30px;
    padding-bottom: 100px;
}
.form__postsong .btn__postsong{
    text-align: center;
}
.input__infosong{
    width: 100%;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border: 1px solid #111;
}
.form__postsong .btn__postsong span{
    background-color: #111;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
}
.list__song__play .media__header__admin{
    display: flex;
    border-bottom: 1px solid rgb(217, 217, 217);
    padding-bottom: 10px;
    margin-top: 30px;
}
.list__song__play .media__header__admin .media__left{
    width: 50%;
    margin-left: 10px;
}
.list__song__play .media__header__admin .media__center{
    width: 40%;
}
.list__song__play .media__header__admin .media__action{
    width: 10%;
}
.list__song__play .list__music{
    border-bottom: 1px solid rgb(217, 217, 217);
    display: flex;
    height: 80px;
    align-items: center;
}
.list__song__play .list__music:hover{
    background-color: #f3f3f3;

}
.list__song__play .list__music .item__left{
    width: 45%;
    display: flex;
    margin-left: 10px;
}
.list__song__play .list__music .item__left img{
    width: 60px;
    height: 60px;
    margin-right: 8px;
    object-fit: cover;
}
.list__song__play .list__music .item__left .info__song{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list__song__play .list__music .item__center{
    width: 40%;
}
.list__song__play .list__music .item__action{
    text-align: center;
    width: 10%;
}
.list__song__play .list__music .item__action span{
    margin: 5px;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: #8aabff;
    color: #fff;
}
